* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Fredoka;
}

section {
    max-width: 100%;
}

footer {
    background-color: rgb(34, 34, 34);
    color: lightgrey;
    padding-top: 40px;
    padding-bottom: 90px;
    height: 100vh;
}

footer > div {
    max-width: 1100px;
    text-align: center;
    margin: 0 auto;
}


.container {
    margin: 0 auto;
    text-align: center;
    max-width: 1100px;
    padding-top: 100px;
}

.page-title {
    color: rgb(229, 49, 112);
    font-weight: bolder;
    font-size: 35px;
}

.page-text {
padding: 50px 0px;
font-weight: 300;
}

/* CARDS */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.cards {
    text-align: left;
    background-color: black;
    float: left;
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 50px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);}

.cards:nth-child(3n) {
    margin-right: 0px;
}

.cards > div {
    color: white;
    padding: 3px;
}

.cards > :nth-child(2) {
font-weight: bold;
padding-top: 5px;
}

.cards > div:last-child {
color: rgb(0, 174, 255);
}

.card__img {
    float: left;
    width: 100px;
    padding-right: 10px;
}



/* DEBUG */

.debug {
    border: 1px solid red;
}
